# Ignore all Windows executable files
*.exe

# Ignore object and binary files
*.o
*.out
*.obj
*.class

# Miscellaneous
*.log
*.DS_Store
*.swp


tempCodeRunnerFile.*

*.txt
!implementTwoStackInAnArray.txt

.vscode

helper.cpp